.login-container {
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-row {
    width: 60%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .login-image-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .login-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .login-form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .login-title {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .login-input {
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    margin-bottom: 15px;
  }